body {
  font-family: "Lato", sans-serif;
}
.row {
  margin: 0;
}
img {
  max-width: 100%;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
.container {
  max-width: 1200px;
}
.pos-relative {
  position: relative;
}
.pos-absolute {
  position: absolute;
}

.zoklean-violet-gradientbg {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5d00b4+0,5d00b4+52,5d00b4+52,e570e7+100 */
  background: #5d00b4; /* Old browsers */
  background: -moz-linear-gradient(
    -45deg,
    #5d00b4 0%,
    #5d00b4 52%,
    #5d00b4 52%,
    #e570e7 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    -45deg,
    #5d00b4 0%,
    #5d00b4 52%,
    #5d00b4 52%,
    #e570e7 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    135deg,
    #5d00b4 0%,
    #5d00b4 52%,
    #5d00b4 52%,
    #e570e7 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5d00b4', endColorstr='#e570e7',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.violet-gradientbg-light {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5d00b4+0,5d00b4+11,5d00b4+11,5d00b4+30,e570e7+100 */
  background: #5d00b4; /* Old browsers */
  background: -moz-linear-gradient(
    -45deg,
    #5d00b4 0%,
    #5d00b4 11%,
    #5d00b4 11%,
    #5d00b4 30%,
    #e570e7 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    -45deg,
    #5d00b4 0%,
    #5d00b4 11%,
    #5d00b4 11%,
    #5d00b4 30%,
    #e570e7 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    135deg,
    #5d00b4 0%,
    #5d00b4 11%,
    #5d00b4 11%,
    #5d00b4 30%,
    #e570e7 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5d00b4', endColorstr='#e570e7',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.disp-vertical-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.disp-vertical-bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.txtCenter {
  text-align: center;
}
.width-80 {
  width: 80%;
  margin: 0 10%;
}
