.header-outer-wrapper {
  padding: 0px;
}
.header-nav-links-holder .loginLink,
.header-nav-links-holder .signupLink {
  color: #fff;
  font-size: 1.1em;
  margin: 25px 0px 25px 0px;
  text-decoration: none;
  display: inline-block;
}
.header-nav-links-holder .greenBut {
  background: #00d0aa;
  color: #fff;
  padding: 20px 15px;
  border-radius: 0 0 6px 6px;
  display: inline-block;
  font-size: 1.1em;
  font-weight: bold;
  box-shadow: 0px 2px 10px #7100b4;
}
.header-nav-links-holder .greenBut:hover {
  text-decoration: none;
}
