.book-cleaning-wrapper {
  padding: 2rem 0;
  background: #efefef;
}
.book-cleaning-wrapper .cleaning-selection-box,
.book-cleaning-wrapper .billing-details-box {
  background: #fff;
}
.book-cleaning-wrapper .sec-title {
  width: 100%;
  text-align: center;
  padding: 1rem 0;
}
.book-cleaning-wrapper .sec-title h2 {
  color: #4a4a4a;
  font-size: 1.6rem;
  padding-top: 1.5rem;
}
.book-cleaning-wrapper .toggle-booking-type-holder {
  padding: 1rem 0 2rem 0;
}
.book-cleaning-wrapper .tab-link {
  margin: 0 4rem;
  opacity: 0.5;
  text-decoration: none;
}
.book-cleaning-wrapper .tab-link.active {
  opacity: 1;
}
.book-cleaning-wrapper .tab-link .type-txt {
  color: #4a4a4a;
  width: 100%;
  text-align: center;
  padding-top: 0.8rem;
  font-size: 1.2rem;
}
.book-cleaning-wrapper .icon-holder {
  width: 100%;
  text-align: center;
}
.book-cleaning-wrapper .toggle-booking-type-holder .icon-holder img {
  max-width: 65px;
  max-height: 65px;
}
