.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}
.zkHighlightSectionOuterWrapper {
  padding: 50px 0px 60px 0px;
  background: #efefef;
}
.highlights-content-holder {
  background-image: linear-gradient(
    to right bottom,
    #8000bf,
    #960bc4,
    #ab17ca,
    #bf23cf,
    #d22ed4
  );
}
.zkHighlightSectionOuterWrapper .bullet-points {
  width: 100%;
}
.zkHighlightSectionOuterWrapper .bullet-points ul {
  width: 90%;
  list-style: none;
  margin: 2.2rem 5% 0;
  padding: 0;
  display: inline-block;
}
.zkHighlightSectionOuterWrapper .bullet-points ul li {
  background: #fff;
  padding: 1.4rem 5%;
  width: 100%;
  border-radius: 0.7rem;
  color: #787878;
  margin: 23px 0px;
  font-size: 1.6em;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.zkHighlightSectionOuterWrapper .zkgreen-cta-butt {
  background: #00eec4;
  color: #fff;
  border-radius: 0.8rem;
  margin: 1.4rem 5% 2rem 5%;
  padding: 25px 4%;
  width: 90%;
  text-align: center;
  font-size: 1.8em;
  font-weight: bold;
  border: none;
  cursor: pointer;
}
.hl-buttet-icon {
  max-width: 50px;
  display: inline-block;
  padding-right: 1rem;
}

@media only screen and (max-width: 640px) {
  .zkHighlightSectionOuterWrapper .bullet-points ul li {
    font-size: 1.2rem;
  }
  .zkHighlightSectionOuterWrapper .zkgreen-cta-butt {
    padding: 22px 4%;
    font-size: 1.35rem;
  }
}
