.banner2-outer-wrapper {
  background: #f8f8f9;
  padding: 0 0 20px 0px;
}
.banner2-circle-img {
  max-width: 100%;
}
.baaner2-introPara {
  padding: 4rem 0px 2rem 0px;
}
.imgHolder {
  padding: 20px 0px;
}
.baaner2-introPara {
  font-size: 1.6rem;
  text-align: center;
}
.banner2-coltit {
  text-align: center;
  font-weight: 500;
  color: #484848;
}
.banner2-colPara {
  text-align: center;
  font-size: 1.1rem;
  color: #787878;
  line-height: 1.4rem;
  padding-top: 0.7rem;
}
.banner2-lightCols .imgHolder {
  min-height: 250px;
}
